body{
    margin: 0;
    padding: 0;
 
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a{
    text-decoration: none;
}

.section1{
    width: 100%;
    height: 100vh;
    background-image: url(/GemLayout1/assets/asset42.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    
}



.header{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding-top: 20px;
    transition: .2s ease-in-out;

}


.header_active{
    opacity: .8;
    position: fixed;
    z-index: 2;
    width: 100%;
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.logo_box_active1{
    opacity: 0;
    visibility: hidden;
}

.logo_box_active2{
    opacity: 1;
    visibility: visible;
}

.logo_box_hidden{
    display: none;
}

.logo_boxv_active img{
    width: 100%;
}


.logo_box img{
    width: 100%;
}

.burger_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    justify-content: center;
    width: 50px;
    height: 50px;
    position: relative;
    cursor: pointer;
    transition: .6s ease-in-out;
}


.b_line{
    width: 20px;
    height: 2px;
    background-color: white;
    border-radius: 3px;
    transition: .6s ease-in-out;
    position: absolute;
}

.b_line_active{
    background-color: black;
}


.line1{
    margin-bottom: 5px;
}

.line2{
    margin-top: 10px;
    margin-bottom: 10px;
}

.line3{
    margin-top: 5px;
}

.line1_active{
    transform: rotate(45deg);
    margin-top: 5px;
}

.line2_active{
    width: 0;
    visibility: hidden;
    opacity: 0;
}

.line3_active{
    transform: rotate(-45deg);
    margin-bottom: 5px;
}

.sidenav{
    height: 100%;
    top: 0;
    right: 0;
    width: 0;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    position: fixed;
    transition: .6s ease-in-out;
}

.sidenav_active{
    width: 300px;
    right: 0;
    visibility: visible;
    opacity: 1;
    position: fixed;
    z-index: 202;
    background-color: white;

}

.burger_menu_active{
    margin-right: 300px;
}

.side_menu{
    width: 100%;
    padding-top: 150px;
    padding-left: 50px;

}

.side_menu li{
    padding-bottom: 15px;
    color: rgb(39, 39, 39);
    font-weight: 600;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.side_menu li:hover{
    color: rgb(76, 76, 213);
}


.hero_content{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}


.hero_container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    position: relative;
}

.scene{
    pointer-events: all;
}



.title{
    font-size: 70px;
    color: white;
    font-weight: 300;
}

.second_word{
    font-weight: 600;
}

.button_group{
    display: flex; 
    width: 40%;
    margin: 0 auto;   
    justify-content: center;
    padding-top: 20px;
}


.button1{
    border: 1px solid white;
    padding: 10px 30px 10px 30px;
    border-radius: 15px;
    color: white;
    font-weight: 300;
    font-size: 11px;
    transition: .2s ease-in-out;
    margin-right: 10px;
    
}

.button1:hover{
    background-color: white;
    color: black;
}

 .button2{
    border: 1px solid rgb(0, 188, 212);
    padding: 10px 30px 10px 30px;
    border-radius: 15px;
    color: rgb(0, 188, 212);
    font-size: 11px;
    transition: .2s ease-in-out;
    margin-left: 10px;
}

.button2:hover{
    background-color:rgb(0, 188, 212);
    color: black; 
}


.second_title{
    color: white;
    font-weight: 300;
    font-size: 17px;
    line-height: 10px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.icon{
    position: absolute;
    top: -600px;
    left: 500px;
    opacity: 0;
    visibility: hidden;
    width: 40px;
    height: 40px;
    animation-name: falling1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-delay: .2s;
    animation-timing-function: ease;
}

@keyframes falling1 {
    from{
        opacity: 0;
        visibility: hidden;
        top: -600px;
        left: 500px;
    }

    to{
        opacity: 1;
        visibility: visible;
        top: -150px;
        left: 300px;
    }
}


.first_word{
    transform: rotate(50deg);
    position: absolute;
    left: -500px;
    top: -50px;
    opacity: 0;
    visibility: hidden;
    animation-name: inplace;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-delay: .2s;
    animation-timing-function: ease;
}

@keyframes inplace{
    from{
        opacity: 0;
        visibility: hidden;
        transform: rotate(50deg);
        left: -500px;
        top: -50px;
    }

    to{
        opacity: 1;
        visibility: visible;
        transform: rotate(0);
        left: 100px;
        top: -40px;
    }
}


.second_word{
    transform: rotate(-50deg);
    position: absolute;
    right: -500px;
    top: -150px;
    opacity: 0;
    visibility: hidden;
    animation-name: inplace2;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-delay: .2s;
    animation-timing-function: ease;
}


@keyframes inplace2{
    from{
        opacity: 0;
        visibility: hidden;
        transform: rotate(-50deg);
        right: -500px;
        top: -150px;
    }

    to{
        opacity: 1;
        visibility: visible;
        transform: rotate(0);
        right: 100px;
        top: -40px;
    }
}


.p1{
    position: absolute;
    bottom: -200px;
    opacity: 0;
    visibility: hidden;
    animation-name: rise ;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-delay: .6s;
    animation-timing-function: ease;
}


@keyframes rise{
    from{
        opacity: 0;
        visibility: hidden;
        bottom: -200px;
    }

    to{
        opacity: 1;
        visibility: visible;
        bottom: 0;
    }
}




.button2{
    position: absolute;
    bottom: -400px;
    left: 350px;
    opacity: 0;
    visibility: hidden;
    animation-name: rise2 ;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-delay: 1.3s;
    animation-timing-function: ease;

}


@keyframes rise2{
    from{
        opacity: 0;
        visibility: hidden;
        bottom: -400px;
    }

    to{
        opacity: 1;
        visibility: visible;
        bottom: -50px;
    }
}


.button1{
    position: absolute;
    bottom: -400px;
    left: 250px;
    opacity: 0;
    visibility: hidden;
    animation-name: rise3 ;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-delay: .9s;
    animation-timing-function: ease;

}


@keyframes rise3{
    from{
        opacity: 0;
        visibility: hidden;
        bottom: -400px;
    }

    to{
        opacity: 1;
        visibility: visible;
        bottom: -50px;
    }
}


.about_us{
    width: 100%;
    background-image: url(/GemLayout1/assets/asset43.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;

}




.aboutus_info{
    padding-top: 140px;
    display: flex;
    align-content: center;
    flex-flow: column nowrap;
    opacity: 0;
    transform: translate(0px, -50px)
}


.aboutus_info_active{
    transition: .4s ease-in-out;
    opacity: 1;
    transform: translate(0px, 0px);
    
}


.aboutus_info a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.aboutus_info h3{
    font-size: 50px;
    color: black;
    font-weight: 300;
}

.aboutus_info p{
    font-weight: 300;
    font-size: 20px;
    color: rgb(177, 177, 177);
}

.aboutus_line{
    width: 160px;
    height: 2px;;
    background-color: aqua;
    margin-bottom: 20px;

}

.aboutus_button{
    margin-top: 20px;
    cursor: pointer;
}

.aboutus_button span{
    font-size: 20px;
    letter-spacing: 2px;
    color: aqua;
    font-weight: 300;
    padding: 15px 40px 15px 40px;
    border: 1px solid aqua;
    border-radius: 1px;
}


.chose_us{
    padding-top: 100px;
    background-color: rgb(243, 245, 245);
}

.choseus_title{
    opacity: 0;
    visibility: hidden;
    transition: .3s ease-in-out;
    font-size: 55px;
    color: rgb(54, 52, 52);
    font-weight: 600;
    letter-spacing: 2px;
}

.choseus_title span{
    font-weight: 300;
}


.choseus_title_active{
    opacity: 1;
    visibility: visible;
}

.card_row{
    margin-top: 100px;
}

.card_row2{
    margin-top: 30px;
}

.card_parent{
    opacity: 0;
    transition: .3s ease-in-out;
    cursor: pointer;
    display: flex;
    flex-flow: column;
    align-items: center;
}


.card1{
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
}

.card_parent:hover{
    background-color: white;
}

.card_parent_active{
    opacity: 1;
}

.card_icon i{
    display: inline-block;
    font-size: 25px;
    color: rgb(60, 57, 80);
    transition: .2s ease-in-out;
 
}


.card_iconv2 i{
    animation-name: pop;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: .6s;
    transform: scale(1);
}

@keyframes pop {
    0%{
        transform: scale(1);
    }

    50%{
        transform: scale(1.08);
    }

    100%{
        transform: scale(1);
    }
}

.card_parent:hover i{
    color: #00bcd4;
}

.card_title{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 27px;
    color: rgb(60, 57, 80);
    font-weight: 300;
    letter-spacing: 1px;
}


.card_content{
    font-size: 13.4px;
    font-weight: 300;
    color: rgb(60, 57, 80);
}

.bulk{
    width: 100%;
    height: 1000px;
}

.card_row3{
    padding-top: 70px;
}

.mobile_mockup{
    width: 100%;
    padding-top: 30px;
}

.mobile_mockup img{
    width: 100%;
}

.app_specs{
    padding-left: 20px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    align-items: center;
}


.appspecs2{
    padding-top: 125px;
}

.appspecs3{
    padding-top: 95px;
}

.specs_icon i{
    font-size: 85px;
    color: #00bcd4;
}

.specs_desc{
    font-size: 28px;
    color: #3c3950;
    letter-spacing: 2px;
}

.specs_desc1{
    font-weight: 600;
}

.specs_desc2{
    font-weight: 300;
}


.banner{
    width: 100%;
    background-color: #ffd954;
}


.inner_banner{
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.banner_icon {
    width: 15%;
}

.banner_icon i{
    font-size: 80px;
    color: rgb(60, 57, 80);
}

.banner_text{
    
    width: 60%;
    color: rgb(60, 57, 80);
    font-size: 35px;
    font-weight: 300;
    letter-spacing: 1px; 
}

.banner_button{
    width: 25%;
    cursor: pointer;
}

.banner_button span{
    font-size: 30px;
    font-weight: 300;
    padding: 15px 45px 15px 45px;
    border: 1px solid rgb(60, 57, 80);
    transition: .3s ease-in-out;
}


.banner_button span:hover{
    color: white;
    background-color: rgb(60, 57, 80);

}


.portfolio{
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    position: relative;
    background-image: url(/GemLayout1/assets/asset44.jpeg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.portfolio_title{
    transform: translate(0px, -25px);
    font-family: 'Montserrat', sans-serif;
    width: 95%;
    margin: 0 auto;
    text-align: center;
    transition: .5s ease-in-out;
    opacity: 0;
    visibility: hidden;
}

.portfolio_title_active{
    opacity: 1;
    visibility: visible;
    transform: translate(0);
}

.p_title1{
    color: white;
    font-weight: 600;
    font-size: 50px;
    padding-bottom: 50px;
}

.p_title1 span{
    font-weight: 200;
}

.p_title2{
    font-size: 16px;
    color: #728998;
    font-family: 'Source Sans Pro', sans-serif;
    padding-bottom: 50px;
}

.box_parent{
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    font-family: 'Montserrat', sans-serif;
}

.box{
    transition: .3s ease-in-out;
    position: relative;
    transform: translate(0px, 25px);
    opacity: 0;
    visibility: hidden;
}


.box_active{
    opacity: 1;
    visibility: visible;
    transform: translate(0);
}

.box img{
    transition: .3s ease-in-out;
}

.box img:hover{
    transform:translate(-30px, 0);
}

.box1{
    width: 600px;
    overflow: hidden;

}

.box1 img{
    width: 640px;
}



.box2{
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.box2 img{
    width: 350px;
}


.box3{
    width: 585px;
    height: 285px;
    overflow: hidden;

}

.box3 img{
   width: 620px;
}

.box4{
    width: 300px;
    overflow: hidden;
}

.box4 img{
    width: 330px;
}

.box_overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(60, 57, 80);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .3s ease-in-out;
}




.box_icons{
    position: absolute;
    display: flex;
    flex-flow: row nowrap;
}


.b_icon{
    padding-right: 20px;
    color: white;
    font-size: 30px;
    
}

.b_icon1{
    transition: .45s ease-in-out;
    position: absolute;
    bottom: 150px;
    left: -150px;
}

.b_icon2{
    transition: .42s ease-in-out;
    position: absolute;
    bottom: 150px;
    left: -110px;

}

.b_icon3{
    transition: .38s ease-in-out;
    position: absolute;
    bottom: 150px;
    left: -70px;
}


.box_line{
    height: 2px;
    width: 1px;
    position: absolute;
    bottom: 130px;
    left: 30px;
    background-color: white;
    opacity: 0;
    visibility: hidden;
    transition: .3s ease-in-out;
    
}


.b_text1{
    position: absolute;
    bottom: 60px;
    left: -330px;
    font-weight: 200;
    font-size: 29px;
    color: white;
    transition: .3s ease-in-out;
}


.b_text2{
    position: absolute;
    bottom: 10px;
    left: -420px;
    font-size: 17px;
    color: white;
    font-weight: 500;
    transition: .35s ease-in-out;
}





.b_icon1_smaller{
    color: white;
    font-size: 23px;
    transition: .45s ease-in-out;
    position: absolute;
    bottom: 100px;
    left: -150px;
}

.b_icon3_smaller{
    color: white;
    font-size: 23px;
    transition: .38s ease-in-out;
    position: absolute;
    bottom: 100px;
    left: -70px;
}


.box_line_smaller{
    bottom: 70px;
}


.b_text_smaller{
    font-size: 13px;
    bottom: 20px;
}

.box:hover .box_overlay{ 
    opacity: .6;
}

.box:hover img{
    transform:translate(-30px, 0);
}


.box:hover .b_icon1{
    left: 30px;
}

.box:hover .b_icon2{
    left: 80px;
}

.box:hover .b_icon3{
    left: 130px;
}


.box:hover .box_line{
    width: 500px;
    opacity: 1;
    visibility: visible;
}

.box:hover .b_text1{
    left: 30px;
}

.box:hover .b_text2{
    left: 30px;
}


.box:hover .b_text_smaller{
    left: 30px;
}

.box:hover .b_icon1_smaller{
    left: 30px;
}

.box:hover .b_icon3_smaller{
    left: 70px;
}

.box:hover .box_line_smaller{
    width: 220px;
    opacity: 1;
    visibility: visible;
}


.load_more_section{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}


.loading_lines{
    width: 39%;
    display: flex;
    flex-flow: column;
}

.loading1{
    width: 100%;
    height: 1px;
   background-color: aqua;
}


.loading2{
    margin-top: 3px;
    width: 100%;
    height: 1px;
   background-color: aqua;
}


.loading_section{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.hidden_parent{
    margin-top: -30px;
    display: none;
}

.loading_section{
    text-align: center;
}

.load_more_btn{
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid aqua;
    padding: 10px 30px 10px 30px;
    border-radius: 20px;
    background-color: transparent;
    color: aqua;
    font-weight: 300;
    cursor: pointer;
    transition: .3s ease-in-out;
}


.load_more_btn:hover{
    background-color: aqua;
    color: white;
}


.load_more_btn_active{
    display: none;
}

.loading_animation{
    display: none;
}


.loading_circle1{
    width: 100px;
    height: 100px;
    border-top: 2px solid aqua;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    animation-name: spinny;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: 4;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}


@keyframes spinny{
    0%{
        transform: rotate(0deg);
    }

    50%{
        transform: rotate(320deg);
    }

    100%{
        transform: rotate(720deg);
    }
}


.loading_circle2{
    width: 75px;
    height: 75px;
    border-right: 2px solid pink;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
    border-top: 1px solid transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: spinny2;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-iteration-count: 7;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}


@keyframes spinny2{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(1500deg);
    }
}


.loading_circle3{
    width: 55px;
    height: 55px;
    border-left: 2px solid orangered;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    border-top: 1px solid transparent;
    border-radius: 50%;
    animation-name: spinny3;
    animation-duration: 2s;
    animation-iteration-count: 7;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}


@keyframes spinny3{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(2000deg);
    }
}

.box3_hidden{
    width: 585px;
    height: 300px;
    overflow: hidden;

}

.box3_hidden img{
    width: 620px;
 }


 .box2_hidden{
    width: 300px;
    height: 292px;
    overflow: hidden;
}

.box2_hidden img{
    width: 350px;
}

.load_hidden{
    display: none;
}


.org_team{
    width: 100%;
    background-color: #2C2E3D;
    padding-top: 100px;
    padding-bottom: 100px;
}


.org_parent{
    font-family: 'Montserrat', sans-serif;
    flex-flow: column nowrap;
    align-content: center;
}

.org_title1{
    font-size: 50px;
    font-weight: 300;
    letter-spacing: 2.5px;
    color: #fdcd4d;
}

.org_title2{
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 2.5px;
    color: #00bcd4;
}


.org_title3{
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 2.5px;
    color: white;
}


.org_parent2{
    font-family: 'Source Sans Pro', sans-serif;
}

.org_text{
    color: #99a9b5;    
    font-size: 16px;
}


.row_small{
    margin-top: 100px;    
}


.team_card_small{
    padding: 15px;
    opacity: 0;
    visibility: hidden;
    transition: .3s ease-in-out;
    cursor: pointer;
}


.team_card_small_active{
    visibility: visible;
    opacity: 1;
}

.team_member_primary{
    padding-left: 20px;
    padding-right: 20px;
    background-color: #393D50;
    display: flex;
    flex-flow: column;
    align-content: center;
    align-items: center;
}


.member_head{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 230px;
    height: 230px;
}

.member_head img{
    width: 100%;
    border-radius: 50%;
}

.member_name{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: white;
    letter-spacing: 1px;
    font-weight: 600;
    padding-top: 10px;
}

.member_ocupation{
    color: #99a9b5;
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    padding-bottom: 45px;
}

.member_socials{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: row nowrap;
    padding-bottom: 45px;
}



.m_icon_middle{
    margin-right: 20px;
    margin-left: 20px;
}

.member_icon{
    width: 40px;
    height: 40px;
    background-color: #99a9b5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2C2E3D;
}


.member_icon i{
    font-size: 18px;
}

.member_secondary{
    display: flex;
    flex-flow: column nowrap;
}

.member_icon_small{
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
}

.member_icon_small img{
    transition: .3s ease-in-out;
    width: 100%;
   
}



.member_name_small{
    padding-top: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    font-size: 20px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    transition: .3s ease-in-out;
}

.member_desc{
    padding-top: 20px;
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #99a9b5;
}


.team_card_small:hover .member_name_small{
    color: #fdcd4d;
}


.team_card_small:hover .member_image{
    transform: scale(1.3);
}



.member_icon_smallv2{
    animation-name: pop2;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: .6s;
    transform: scale(1);
}

@keyframes pop2 {
    0%{
        transform: scale(1);
    }

    50%{
        transform: scale(1.08);
    }

    100%{
        transform: scale(1);
    }
}


.achievments{
    width: 100%;
    background-color: #00CEC6;
}

.inner_achievments{
    padding-top: 90px;
    padding-bottom: 90px;
}

.counter{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.counter_icon{
    padding-bottom: 40px;
}

.counter_icon i{
    color: white;
    font-size: 85px;
}

.counter_number{
    font-size: 50px;
    color: #2C2E3D;
}

.counter_title{
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 1px;
    color: #728998;
    font-size: 24px;
}




.statistics{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #2C2E3D;
    width: 100%;
}


.statistics_inner{
    padding-top: 100px;
    padding-bottom: 100px;
}


.stats_title{
    padding-bottom: 50px;
}

.stats_title{
    width: 100%;
    text-align: center;
    color: white;
    font-weight: 300;
    font-size: 45px;
    font-family: 'Montserrat', sans-serif;
}

.stats_title span{
    color: #fdcd4d;
}

.stats_text {
    color: #728998;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;

}

.big_letter{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-right: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #728998;
    text-align: center;
}

.big_letter a{
    font-size: 30px;
    color: white;
    text-decoration: none;
}

.bar1{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    margin-top: 12px;
}

.bar_text{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

.bar_name{
    color: #99a9b5;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
}

.bar_number{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 25px;
    display: flex;
}

.progress{
    background-color: #3c3950;
    height: 10px;
    border-radius: 1px;
}

.progress-bar{
    background-color: white;
    width: 0;
    transition: 1s ease-in-out;
}

.progres-bar-active{
    width: 55%;
    background-color: white;
}

.progress_bar2{
    background-color: #fdcd4d;
    width: 0;
    transition: 1.2s ease-in-out;
}

.progress_bar2_active{
    width: 82%;
    background-color: #fdcd4d;
}


.progress_bar3{
    background-color: gray;
    width: 0;
    transition: .9s ease-in-out;
}

.progress_bar3_active{
    width: 54%;
    background-color: gray;
}


.progress_bar4{
    background-color: aqua;
    width: 0;
    transition: .9s ease-in-out;
}

.progress_bar4_active{
    width: 54%;
    background-color: aqua;
}

.graph{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    padding: 25px;
}

.circle{
    width: 0;
    height: 0;
    border-radius: 50%;
    border-top: 100px solid yellow;
    border-right: 100px solid white;
    border-bottom: 100px solid aqua;
    border-left: 100px solid gray;
}

.graph_legend{
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
}

.legend_content{
    padding-bottom: 10px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}

.dot{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.legend_text{
    color: #728998;
    font-size: 14px;
    padding-left: 10px;
}

.details_bttn{
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.details_bttn span{
    padding: 10px 40px 10px 40px;
    border: 2px solid aqua;
    font-size: 18px;
    font-weight: 600;
    color: aqua;
    border-radius: 20px;
}

.testimonials{
    width: 100%;
    height: 150vh;
    background-image: url(/GemLayout1/assets/asset46.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

.crown{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50% 40%;
    background-image: url(/GemLayout1/assets/asset24.png);
    position: absolute;
}

.testimonials_title{
    padding-top: 100px;
    width: 100%;
    text-align: center;
    color: white;
    font-weight: 300;
    font-size: 40px;
}

.testimonials_title span{
    color: #fdcd4d;
}

.carousel_container{
    padding-top: 300px;
}

.carousel_img{
    text-align: center;
}

.carousel_img img{
    border-radius: 50%

}

.carousel_inner{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.carousel_control{
    width: 6%;
    transition: .3s ease-in-out;
    height: 100px;
    top: 20px;
}


.carousel_control:hover{
    background-color: aqua;
}

.carousel_text{
    position: static;
    width: 65%;
    margin: 0 auto;
}

.testimonial_review{
    padding-top: 30px;
    font-size: 17px;
    color: white;
    font-style: italic;
    font-weight: 500;
}

.testimonial_review2{
    width: 70%;
    text-align: center;
    margin: 0 auto;
    padding-top: 30px;
    font-size: 16px;
    color: #5f727f;
    font-style: italic;
    font-weight: 500;
}

.item{
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.carousel_control2{
    width: 4%;
    background-color: grey;
    height: 50px;
    top: 90px;
}

#demo2{
    padding-top: 20px;
}

.offers{
    width: 100%;
    position: relative;
}

.offers_container{
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    align-items: center;
}

.offer_card{
    background-color: #429ae2;
    padding: 50px;

}

.offer_card2{
    background-color: #00bcd4;
}

.offer_card3{
    background-color: #4cd2b1;    
}

.offer_title{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}


.offer_text{
    color: white;
    font-weight: 300;
    font-size: 36px;
}

.offer_text span{
    color: #e7ff89;
    font-weight: 600;
}

.offer_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background-color: white;
    border-radius: 50%;
    margin-right: 40px;
}

.offer_icon span{
    font-size: 36px;
}

.offer_body{
    width: 70%;
    font-family: 'Source Sans Pro', sans-serif;
}

.offer_text1{
    font-size: 24px;
    line-height: 37px;
    color: #3c3950;
}

.offer_text2{
    padding-top: 16px;
    font-size: 16px;
    line-height: 26px;
    color: #5f727f;
}

.news{
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    background-color: #F0F3F2;
}

.news_wrapper{
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-auto-rows: minmax(300px, auto);
    grid-gap: 40px;
    grid-template-areas: 
}

.news_card_parent{
    grid-column: 1/2;
    grid-row: 1/2;
}

.news_card_parent2{
  
    grid-column: 2/3;
    grid-row: 1/3;
}


.newscard_parent3{
    grid-column: 3/4;
    grid-row: 1/2;
}

.news_card_parent4{
    grid-column: 4/5;
    grid-row: 1/3;
}





.newscard3_inner{
    display: flex;
    flex-flow: column;
    background-color: #212331 ;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.newscard3_inner span:nth-child(1){
    color: white;
    font-size: 37px;
    font-weight: 500;
}

.newscard3_inner span:nth-child(2){
    color: rgb(255, 255, 140);
    font-size: 37px;
    font-weight: 500;
}

.newscard3_inner span:nth-child(3){
    color: white;
    font-size: 35px;
    font-weight: 300;
}

.author{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.author span:nth-child(1){
    color: aqua;
    font-size: 17px;
    font-weight: 400;

}

.author span:nth-child(2){
    color: aqua;
    font-size: 35px;
}



 


.news_card_inner{
    display: flex;
    flex-flow: column nowrap;
    background-color: white;
}

.news_picture{
    
    position: relative;
}

.news_picture img{
    width: 100%;
    transition: .3s ease-in-out;
}


.news_overlay_icon{
    border-radius: 50%;
    width: 0;
    height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease-in-out;
    cursor: pointer;
}


.news_overlay_icon span{
    font-size: 1px;
    color: white;
    transition: .3s ease-in-out;
}


.news_picture:hover img{
    opacity: .5;
}


.news_picture:hover .news_overlay_icon{
    opacity: 1;
    visibility: visible;
    width: 60px;
    height: 60px;
    background-color: #393D50;
    border-radius: 50%;
}


.news_picture:hover .news_overlay_icon span{
    font-size: 30px;
}

.news_body{
    padding: 20px;
}

.news_socials{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.user_interaction{
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    font-size: 13px;
    color: gray;
}

.comments{
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid gray;
}

.favourites i{
    color: red;
}


.news_title{
    padding-top: 10px;
    padding-bottom: 10px;
    letter-spacing: 2px;
    font-size: 28px;
    font-weight: 500;
    color: #3c3950;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.news_title:hover{
   color: aqua;
}

.news_title span{
    font-weight: 300;
   
}

.news_text{
    font-size: 16px;
    color: #393D50;
}

.news_nav{
    padding-top: 10px;
    display: flex;
    align-content: center;
    align-items: center;
    flex-flow: row nowrap;

}

.share_bttn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(186, 185, 185);
    width: 30px;
    height: 30px;
}

.share_bttn i{
    font-size: 16px;
    color: white;
}

.read_more_bttn{
    margin-left: 15px;
    border: 2px solid aqua;
    padding: 5px 15px 5px 15px;
    font-size: 13px;
    font-weight: 600;
    color: aqua;
}


.news_header{
    width: 70%;
    padding-bottom: 100px;
    margin: 0 auto;
    text-align: center;
}


.news_header h1{
    color: #393D50;
    font-weight: 300;
}

.news_header p{
    padding-top: 50px;
    color: #5f727f;
    font-size: 16px;
}


.news_header span{
    font-weight: 600;
}




.contact_wrapper{
    width: 100%;
    background-image: url(/GemLayout1/assets/asset47.jpeg);
}

.contact_inner{
    padding-top:80px;
    padding-bottom: 80px;
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr;
    grid-auto-rows: (300px, auto);
}

.contact_title{
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 50px;
}

.contact_inputbox{
    padding-top: 50px;
}

.contact_inputbox input{
    background-color: #212331;
    border: 1px solid #393D50;
    color: #504c6a;
    height: 50px;
    padding: 20px;
}

.input_upper{
   display: grid;
   grid-template-columns: repeat(3, 2fr);
}

.input_upper input{
    width: 90%;
}


.input_bottom{
    margin-top: 50px;
}

.input_bottom textarea {
    background-color: #212331;
    border: 1px solid #393D50;
    color: #504c6a;
    width: 100%;
    height: 300px;
    padding: 20px;
}

.contact_button{
    margin-top: 50px;
    width: 100%;
    background-color: transparent;
    text-align: center;
    border: 2px solid #5f727f;
    border-radius: 15px ;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.contact_button span{
    font-weight: 300;
    font-size: 25px;
    color: #5f727f;
    transition: .3s ease-in-out;
}

.contact_button:hover{
    background-color: #5f727f;
}

.contact_button:hover span{
    color: white;
}